{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>RIVERBED</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'webapp/src/logo.png' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'webapp/css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript" src="{% static 'webapp/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/js/account.js' %}"></script>
  </head>
  
    <!-- Navbar (sit on top) -->
    <div class="w3-top dark primary" id="navbar">
      <div class="w3-bar w3-card dark primary" id="top-navbar">
        <a href="/" class="w3-bar-item w3-button w3-wide"><img src="{% static 'webapp/src/logo.png' %}" class="rb-logo-1"></img>&hairsp;IVERBED</a>
        <a href="javascript:void(0)" class="w3-bar-item w3-button" id="mode" onclick="clickMode()"><i>DARK</i></a>
        <!-- Right-sided navbar links -->
        <div class="w3-right w3-hide-small dark primary" id="top-right-navbar">
          <div class="w3-bar-item" id="google_translate_element" style="margin-top:8px"></div>
          {% comment %} <a href="/browse" class="w3-bar-item w3-button">BROWSE</a>
          <a href="/search" class="w3-bar-item w3-button">SEARCH</a>
          <a href="/analytics" class="w3-bar-item w3-button">ANALYTICS</a>
          <a href="/account" class="w3-bar-item w3-button">ACCOUNT</a> {% endcomment %}
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->
  
        <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="toggleNav()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
  
    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-hide-medium w3-hide-large dark primary" style="display:none;" id="sidebar">
      <div class="w3-bar-item" id="google_translate_element" style="margin-top:8px"></div>
      <a onclick="closeNav()" class="w3-bar-item w3-button w3-large w3-padding-16"><i class="fa fa-chevron-left"></i></a>
      {% comment %} <a href="/browse" onclick="closeNav()" class="w3-bar-item w3-button rb-text-1">BROWSE</a>
      <a href="/search" onclick="closeNav()" class="w3-bar-item w3-button rb-text-1">SEARCH</a>
      <a href="/analytics" onclick="closeNav()" class="w3-bar-item w3-button rb-text-1">ANALYTICS</a>
      <a href="/account" class="w3-bar-item w3-button rb-button-1">ACCOUNT</a> {% endcomment %}
    </nav> 

<body onload="loginLoad()" class="dark secondary">
  <div id="wrapper" class="fullPage dark secondary">
    <div class="w3-container dark secondary" style="padding:32px 16px; margin-top:48px">
      <h3 class="w3-center">Login</h3>
      <div style="margin: 0 30%">
        <!-- {% csrf_token %} -->
        <label class="w3-label">User Name</label>
        <input class="w3-input w3-rest" type="text" name="username" id="username" required> <br>
        <label class="w3-label">Password</label>
        <input class="w3-input w3-rest" type="password" name="password" id="password" required><br>
        <div class="w3-center">
          <button class="w3-button w3-round w3-large" id="submitLogin" onclick="submitRegistrationServices(this)"><b>Submit</b></button>
          <h5 id="loginStatus" style="display: none;" class="w3-text-red"></h5>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- Footer -->
<footer class="w3-center w3-text-white w3-padding-64 dark tertiary" id="foot">
  <h4 class="w3-text-white">Contact Us</h4>
  <h5 class="w3-text-white">1-800-478-7326</h5>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</footer>

</html>
